body {
  font: 100% "Work Sans", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label {
  display: block;
  margin-bottom: 10px;
}

.form-row input[type="text"],
.form-row input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_admin_button {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #1004c5;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login_admin_button:hover {
  background-color: #0056b3;
}

.login_admin_voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #616161;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login_admin_voltar:hover {
  background-color: #424242;
}
